// main: main.scss

/********* GENERAL STYLES *********/

body {
	font-family: 'Raleway', sans-serif;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 50px;
}

h2 {
	font-size: 30px;
	font-weight: 600;
	text-align: center;
}

h3 {
	font-size: 20px;
	font-weight: 400;
	text-align: center;
}

p {
	font-weight: 400;
	line-height: 25px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
	&:hover {
		color: #ff5252;
	}
	&:active {
		color: white !important;
	}
}

.columns {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	&:not(:last-child) {
		margin-bottom: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.column {
	padding: 0;
}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.main-content {
	padding: 100px 0;
	color: #333;
}

.container {
	max-width: 80%;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
	&[class^=col] {
		margin: 0;
	}
}

#return-to-top {
	text-align: center;
	position: fixed;
	z-index: 99;
	bottom: 20px;
	right: 20px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
	width: 50px;
	height: 50px;
	display: block;
	text-decoration: none;
	border-radius: 35px;
	display: none;
	-webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
	i {
		color: #fff;
		margin: 0;
		position: relative;
		top: 13px;
		font-size: 19px;
		-webkit-transition: all 0.25s ease;
		-o-transition: all 0.25s ease;
		transition: all 0.25s ease;
	}
	&:hover {
		background: rgba(0, 0, 0, 0.85);
		i {
			color: #fff;
			top: 3px;
		}
	}
}

.modal-content {
	overflow: hidden;
}

/********* UTILITY *********/

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.clear {
	clear: both;
}

.justify {
	text-align: justify;
}

.bold {
	font-weight: bold;
}

.fw-100 {
	font-weight: 100;
}

.fw-200 {
	font-weight: 200;
}

.fw-300 {
	font-weight: 300;
}

.fw-400 {
	font-weight: 400;
}

.fw-500 {
	font-weight: 500;
}

.fw-600 {
	font-weight: 600;
}

.fw-700 {
	font-weight: 700;
}

.fw-800 {
	font-weight: 800;
}

.fw-900 {
	font-weight: 900;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.margin-bottom-50 {
	margin-bottom: 50px;
}

.line-18 {
	line-height: 18px;
}

.line-20 {
	line-height: 20px;
}

.top-25 {
	margin-top: 25px !important;
}

.top-50 {
	margin-top: 50px !important;
}

.top-100 {
	margin-top: 100px !important;
}

.top-150 {
	margin-top: 150px !important;
}

.top-bottom-20 {
	margin: 20px 0 !important;
}

.top-bottom-50 {
	margin: 50px 0 !important;
}

.top-bottom-75 {
	margin: 75px 0 !important;
}

.hide {
	display: none !important;
}

.svg-red {
	fill: #ff5252 !important;
	stroke: #ff5252 !important
}

.svg-red-shadow {
	-webkit-filter: drop-shadow(0px 0px 3px #ff5252);
	filter: drop-shadow(0px 0px 3px #ff5252);
}

.svg-darkBlue {
	fill: #1b5edc !important;
}

.svg-lightBlue {
	fill: #19a2ff !important;
}

.svg-purple {
	fill: #bc2a8d !important;
}

.text-red {
	color: #ff5252 !important;
}

.logo-rotate {
	-webkit-transform: rotate(450deg) !important;
	-ms-transform: rotate(450deg) !important;
	transform: rotate(450deg) !important;
}
