// main: ../main.scss

@import "mixins"

/********* INDEX *********/

@include keyframes (bg-animation)
	from
		background-position: 0 0
	to
		background-position: rem(200px) rem(200px)

/********* AUDIO - HOMEPAGE *********/

@include keyframes (arrow)
	0%
		bottom: 4em
	20%
		bottom: 5em
	40%
		bottom: 2em
	100%
		bottom: 4em

@include keyframes (arrow-glow)
	0%
		@include filter (drop-shadow(0 0 0 $white))
	20%
		@include filter (drop-shadow(0 0 0 $white))
	40%
		@include filter (drop-shadow(0 0 rem(10px) $white))
	100%
		@include filter (drop-shadow(0 0 0 $white))

// GRAPHICS

@include keyframes (mobileMenuOpen)
	0%
		transform: translateX(100%)
	100%
		transform: translateX(0)

@include keyframes (mobileMenuClose)
	0%
		transform: translateX(0)
	100%
		transform: translateX(100%)

@include keyframes (menuButtonOpen)
	0%
		left: 100%
	100%
		left: calc(50% - 4px + 20px)

@include keyframes (menuButtonClose)
	0%
		left: calc(50% - 4px + 20px)
	100%
		left: 100%

/********* GRAPHICS - HOME *********/

@include keyframes (caret)
	0%
		background-color: $white
		box-shadow: 0 rem(4px) rem(4px) transparentize($black, .75)
	100%
		background-color: $transparent
		box-shadow: 0 rem(4px) rem(4px) $transparent

@include keyframes (particle1-scale)
	0%
		transform: scale(1)
	25%
		transform: scale(.5)
	50%
		transform: scale(1)
	75%
		transform: scale(.5)
	100%
		transform: scale(1)

@include keyframes (particle1-position)
	0%
		transform: translateX(0) translateY(0)
	50%
		transform: translateX(-100px) translateY(100px)
	100%
		transform: translateX(0) translateY(0)

@include keyframes (particle2-scale)
	0%
		transform: scale(1)
	25%
		transform: scale(.5)
	50%
		transform: scale(1)
	75%
		transform: scale(.5)
	100%
		transform: scale(1)

@include keyframes (particle2-position)
	0%
		transform: translateX(0) translateY(0)
	50%
		transform: translateX(100px) translateY(100px)
	100%
		transform: translateX(0) translateY(0)

@include keyframes (particle3-scale)
	0%
		transform: scale(1)
	50%
		transform: scale(.5)
	100%
		transform: scale(1)

@include keyframes (particle3-position)
	100%
		transform: rotate(360deg)

@include keyframes (particle4-scale)
	0%
		transform: scale(1)
	25%
		transform: scale(.5)
	50%
		transform: scale(1)
	75%
		transform: scale(.5)
	100%
		transform: scale(1)

@include keyframes (particle4-position)
	0%
		transform: translateX(0)
	50%
		transform: translateX(-300px)
	100%
		transform: translateX(0)

/********* GRAPHICS - PORTFOLIO *********/

@include keyframes (modalOpen)
	0%
		transform: translateX(450px)
	100%
		transform: translateX(0)

@include keyframes (modalClose)
	0%
		transform: translateX(0)
	100%
		transform: translateX(450px)

@include keyframes (modal-background-in)
	0%
		background-color: $transparent
	100%
		background-color: transparentize($black, .2)

@include keyframes (modal-background-out)
	0%
		background-color: transparentize($black, .2)
	100%
		background-color: $transparent
