@media (max-width: 1300px)
	.audio.contact
		main
			p
				text-align: justify

@media (max-width: 1280px)
	.audio.services
		main
			.services-icons svg
				height: rem(130px)

@media (max-width: 1200px)
	.audio.home
		main
			.home-icons svg
				isolation: isolate
				width: 100%
				height: rem(50px)
				padding: 0 rem(20px)
				margin-bottom: rem(20px)
				fill: $black
				@include transition (fill, .2s, ease)

@media screen and (max-width: 1087px)
	.audio.services
		main
			.services-icons p
				font-size: rem(24px)

@media (max-width: 1024px)
	.audio
		header .navbar .navbar-menu
			background-color: $grey
			-webkit-box-shadow: 0 0 0 $transparent
			box-shadow: 0 0 0 $transparent
			.navbar-end
				text-align: center
			ul
				flex-direction: column
				border-top: rem(1px) solid transparentize($white, .8)
				padding-top: rem(40px)
				padding-bottom: rem(20px)
				margin-top: rem(10px)
				font-size: rem(18px)
				li
					margin-right: 0
					margin-top: rem(10px)
					&:hover
						border-bottom: 0 solid $transparent
						padding-bottom: 0
					&:first-child
						margin-top: 0
		.home-mastering
			margin-left: 16.66667%
	.graphics
		.navbar-menu
			background-color: $transparent
			-webkit-box-shadow: 0 0 0 $transparent
			box-shadow: 0 0 0 $transparent
			ul
				flex-direction: column
				border-top: rem(1px) solid transparentize($white, .8)
				padding-top: rem(40px)
				padding-bottom: rem(20px)
				margin-top: rem(10px)
				font-size: rem(18px)

			li
				margin-right: 0
				margin-top: rem(10px)
				&:hover
					border-bottom: 0 solid $transparent
					padding-bottom: 0

				&:first-child
					margin-top: 0
		.navbar-end
			text-align: center

@media (max-width: 992px)
	.audio.services
		main
			.services-icons svg
				height: rem(120px)

@media (max-width: 900px)
	.audio.services
		main
			.services-icons
				svg
					height: rem(110px)
				p
					font-size: rem(22px)

@media (max-width: 850px)
	.audio.services
		main
			.services-icons
				svg
					height: rem(100px)
				p
					font-size: rem(20px)

@media (max-width:767px)
	.index
		.triggers
			.left-trigger
				width: 100vw
				height: 50vh
			.right-trigger
				width: 100vw
				height: 50vh
				position: absolute
				left: 0
				top: 50vh
		.graphics
			.left-graphics
				@include clip-path (polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%))
				h2
					left: 50%
					top: calc(25% - 9.375rem / 4)
			.right-graphics
				@include clip-path (polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%))
				h2
					left: 50%
					top: calc(75% + 9.375rem / 4)
			.left-hover
				@include clip-path (polygon(0% 0%, 100% 0%, 100% 60%, 0% 40%))
			.right-hover
				@include clip-path (polygon(0% 40%, 100% 60%, 100% 100%, 0% 100%))
			.left-hover-2
				@include clip-path (polygon(0% 0%, 100% 0%, 100% 40%, 0% 60%))
			.right-hover-2
				@include clip-path (polygon(0% 60%, 100% 40%, 100% 100%, 0% 100%))

@media (max-width: 767px)
	.audio main
		padding: rem(50px) 0
	.audio.home
		.hero-video
			display: block
		.home-mastering
			margin-left: 0 !important
	.audio.about
		main
			.about-divider-mobile
				display: block
				width: 50%
			.about-text
				padding: 0
	.audio.services main
		.services-icons
			display: none
		#recording
			margin-top: 0
	.audio.contact main
		.form-fields input,
		.form-fields textarea
			width: 100%
		.select.is-fullwidth
			width: 100%
	.no-mobile
		display: none !important

@media (min-width: 768px)
	.no-desktop
		display: none !important

@media (max-width: 550px)
	.audio.portfolio
		.footer-afterOpen
			margin-bottom: rem(132px)
		.hidePlayer
			@include transform (translateY(8.25rem) !important)
		.moveArrow-afterOpen
			bottom: rem(152px) !important

		.moveArrow-afterClose
			bottom: rem(20px) !important
		.audioPlayer
			padding: rem(20px)
			transform: translateY(8.25rem)
			.container
				max-width: 100%
				flex-direction: column
				.art
					display: none
				.audio-controls
					flex-direction: column
					.seek
						margin: rem(10px) 0

@media (max-width: 480px)
	.audio
		header
			.navbar-menu li
				margin-right: 0
				margin-top: rem(15px)
			.navbar-brand-txt
				display: none !important
		h1
			font-size: rem(35px) !important
		h2
			font-size: rem(28px) !important
		h3
			font-size: 1.3rem !important
	.audio.home
		.hero
			.logo svg
				height: rem(200px)
			.material-icons
				font-size: rem(50px)
			.down-arrow
				height: rem(25px)
		main
			.home h3
				margin-bottom: rem(60px)
			.home-recording-content,
			.home-editing-content,
			.home-mixing-content,
			.home-mastering-content,
			.home-graphics-content
				padding: rem(10px) 0
