// COLORS
$black: #000
$grey: #333
$white: #FFF
$red: #FF5252
$homeBlue: #4497FB
$darkBlue: #637287
$footerIcons: #5F85F7
$publishing: #4378FF
$video: #FF7A00
$web: #FD2BA3
$ux: #7E5DFF
$html: #DE4B26
$css: #1571B6
$sass: #CF649A
$js: #F7DF1F
$wordpress: #32373C
$wix: #000

// SIZES
$baseSize: 16
$work-samples: 8
