// SHARED COLORS
$black: #000
$white: #FFF
$transparent: transparent
$grey: #222
$lightGrey: #dedede
$formError: #FFBF00
$formErrorShadow: #FF9500

// AUDIO SPECIFIC COLORS
$red: #FF5252
$audioFormText: #585858
$audioFormRed: #ff6347

// GRAPHICS SPECIFIC COLORS
$purple: #C638EF
$celeste: #17BAFF
$blue: #657CF8

$homeBlue: #4497FB
$darkBlue: #637287

$footerIcons: #5F85F7

$aboutCardDivider: #767676

$print: #4378FF
$video: #FF7A00
$web: #FD2BA3
$ux: #7E5DFF
$html: #DE4B26
$css: #1571B6
$sass: #CF649A
$bootstrap: #563D7C
$js: #F7DF1F
$gulp: #CF4647
$wordpress: #32373C
$wix: #000
$linkedin: #0073B0
$github: #24292E
$dribble: #EB4C88
$instagram: #FF0053

// FONT SIZES
$baseSize: 16

// NUMBERS
$work-samples: 8