.audio.contact

	main
		text-align: center

		h1
			margin-bottom: 0

		p
			margin: rem(50px) 0
			text-align: center

		form
			display: flex
			flex-direction: column
			align-items: center

			input, textarea, .select
				height: rem(40px)
				padding: 0 rem(20px)
				border-radius: rem(7px)
				font-weight: 300
				width: 60%
				margin-bottom: rem(5px)
				font-size: rem(20px)
				border: rem(1px) solid $transparent
				transition: all .15s ease
				&:not(.select)
					color: $grey
					background-color: transparentize($grey, .9)
					&::placeholder
						color: transparentize($grey, .6)
				&:focus
					border-color: $red
					box-shadow: inset 0 rem(1px) rem(1px) rgba(0, 0, 0, .075), 0 0 rem(8px) transparentize($audioFormRed, .4)
					outline: 0 none

			.form-button
				width: 100%
				input
					-webkit-appearance: none
					width: 30%
					background-color: $grey
					color: $white
					font-size: rem(16px)
					margin: rem(10px) 0 0 0
					transition: all .25s ease
					cursor: pointer
					&:hover
						background-color: $red
					&:focus
						border: rem(1px) solid $transparent
						box-shadow: none
						background-color: $red

			.select
				padding: 0
				select
					background-color: transparentize($grey, .9)
					color: $grey
					height: 100%
					padding: 0 rem(20px)
					border: rem(1px) solid $transparent
					font-weight: 300
					&:focus
						border-color: $red
						box-shadow: inset 0 rem(1px) rem(1px) rgba(0, 0, 0, .075), 0 0 rem(8px) transparentize($audioFormRed, .4)
						outline: 0 none
				&:not(.is-multiple):not(.is-loading)::after
					border-color: $grey
					
			textarea
				padding: rem(15px) rem(20px)
				min-height: rem(100px)
				max-height: rem(300px)
				resize: vertical
