.audio footer

	@include transition (all, .25s, ease)
	color: $white
	background-color: $grey

	a
		&:hover
			color: transparentize($white, .5)

	.footer-top,
	.footer-bottom
		font-weight: 400
	.footer-top
		padding: rem(40px) 0
		text-align: center
		.footer-icons
			margin-bottom: rem(20px)
			li
				display: inline-block
				margin: 0 rem(5px)
			svg
				height: rem(40px)
				&>path
					fill: $white
		.footer-top-info
			margin: 0 auto
			div
				letter-spacing: .5px
				font-weight: 300
			p
				margin-bottom: rem(5px)
				font-weight: 400
				&:last-child
					margin-bottom: 0
	.footer-divider
		background-color: transparentize($white, .8)
		margin-bottom: rem(20px)
		height: rem(1px)
	.footer-bottom
		display: flex
		flex-direction: column
		align-items: center
		padding-bottom: rem(20px)
		a
			display: block
			font-size: rem(12px)
			text-decoration: underline
			margin-top: rem(20px)

