.audio.home

	.hero
		color: $white
		position: relative
		height: 100vh
		min-height: rem(360px)
		position: relative
		video
			-o-object-fit: cover
			object-fit: cover
		svg
			@include transform (translateX(-50%) translateY(-50%))
			position: absolute
			top: 50%
			left: 50%
			color: $white
			fill: $white
			text-align: center
			height: rem(250px)
			-webkit-filter: drop-shadow(0 0 rem(3px) $white)
			filter: drop-shadow(0 0 rem(3px) $white)
			path
				fill: $white
				&:first-of-type
					stroke: $white
		.down-arrow
			@include transform (translate(-50%))
			@include animation (arrow, 2s, infinite, ease)
			@include transition (all, .25s, ease)
			display: block
			text-decoration: none
			color: $white
			height: rem(40px)
			position: absolute
			left: 50%
			&:hover
				color: transparentize($white, .8)
		.material-icons
			@include filter (drop-shadow(0 0 0 $white))
			@include animation (arrow-glow, 2s, infinite, ease)
			font-size: rem(80px)
			line-height: .5
			text-rendering: optimizeLegibility
			-webkit-font-smoothing: antialiased
	main
		text-align: center
		h2
			font-weight: 600
			margin-bottom: rem(50px)
			text-align: center
		h3
			margin-bottom: rem(50px)
			line-height: rem(25px)
		path
			fill: $grey
		.home-emphasis
			color: $red
			font-weight: 700
		.home-icons
			p
				font-weight: 700
				font-size: rem(20px)
			a:hover
				color: $white
			svg
				@include transition (fill, .2s, ease)
				isolation: isolate
				width: 100%
				height: rem(60px)
				margin-bottom: rem(20px)
		.home-mixing,
		.home-mastering,
		.home-recording,
		.home-editing,
		.home-graphics
			padding: rem(10px)
		.home-mixing a,
		.home-mastering a,
		.home-recording a,
		.home-editing a,
		.home-graphics a
			@include transition (all, .2s, ease)
			@include transform (translateY(0))
			display: block
			-webkit-box-shadow: 0 rem(3px) rem(6px) $black
			box-shadow: 0 rem(3px) rem(6px) $black
			border-radius: rem(30px)
			background-color: $white
			cursor: pointer
			color: $grey
			padding: rem(35px) 0
		.home-mixing:hover a,
		.home-mastering:hover a,
		.home-recording:hover a,
		.home-editing:hover a,
		.home-graphics:hover a
			@include transform (translateY(rem(-10px)))
			background-color: $red
			color: $white
			box-shadow: 0 rem(20px) rem(38px) transparentize($red, .3)
		path.svg-white
			fill: $white
