.contact
	background: linear-gradient(to bottom, $purple 0%, $celeste 80%)

	main
		text-align: center

		h1
			margin-bottom: 0

		p
			margin: rem(50px) 0

		form
			display: flex
			flex-direction: column
			align-items: center
			& *
				height: rem(40px)
				border: rem(1px) solid $transparent
				border-radius: rem(7px)
				padding: 0 rem(15px)
				font-size: rem(20px)
				width: 60%
				box-shadow: 0 rem(4px) rem(4px) transparentize($black, .75), 0 rem(2px) rem(2px) transparentize($black, .85)
			label
				margin-bottom: rem(10px)
				text-align: left
				height: auto
				padding: 0
				box-shadow: none
			input, textarea
				color: $grey
				margin-bottom: 5px
				transition: all .2s
				&::placeholder
					color: $grey
					opacity: .2
				&[type="submit"]
					-webkit-appearance: none
					font-size: 20px
					margin-top: 10px
					font-weight: 600
					text-transform: uppercase
					height: auto
					padding: 10px
					// width: 30%
					background-color: rgba(0, 0, 0, 0.57);
					color:  $white
					// font-size: rem(16px)
					// margin: 15px 0 0 0
					&:hover
						cursor: pointer
						backdrop-filter: blur(2px)
						background-color: rgba(31, 33, 36, 0.87)
					&:focus
						border: 1px solid $transparent
						box-shadow: none
				&:focus
					outline: 0
					// border: 2px solid #ecc7ff
					// border: 2px solid #edd8f6
					box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.25), 0 0.125rem 0.125rem rgba(0,0,0,0.15)
					// box-shadow: 0 4px 4px rgba(167, 58, 209, 0.45), 0 2px 2px rgba(167, 58, 209, 0.35)
					&::placeholder
						color: #A73AD1
			.select
				padding: 0
				border: 0
				margin-bottom: rem(5px)
				select
					color: $grey
					height: 100%
					width: 100%
					box-shadow: none
					transition: box-shadow .2s
					&:focus
						// box-shadow: 0 4px 4px rgba(167, 58, 209, 0.45), 0 2px 2px rgba(167, 58, 209, 0.35)
						box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.25), 0 0.125rem 0.125rem rgba(0,0,0,0.15)
				&:not(.is-multiple):not(.is-loading)::after
					border-color: $grey
			textarea
				padding: rem(15px)
				min-height: rem(100px)
				max-height: rem(300px)
				resize: vertical
				margin-bottom: 0

	footer
		margin-top: rem(250px)

	.waves
		.wave1
			bottom: 0
			z-index: -1
			background-image: url("../src/graphics/contact/contact-wave1.svg")
		.wave2
			bottom: 0
			background-image: url("../src/graphics/contact/contact-wave2.svg")