.graphics header
	font-family: 'Raleway', sans-serif
	position: fixed
	top: 0
	width: 100%
	z-index: 50
	color: $white
	// background-color: rgba(0, 0, 0 ,0.1)
	padding: rem(10px) 0

	.navbar
		background-color: $transparent
		.navbar-brand
			a:hover
				color: $white
			svg
				@include transform (rotate(90deg))
				@include transition (all, .5s, ease)
				height: rem(60px)
				margin-left: rem(12px)
			path
				fill: $white
				stroke: $white
			.navbar-brand-txt
				margin-left: rem(32px)
				span.logo-name
					letter-spacing: rem(4px)
					font-weight: 500
					font-size: rem(16px)
				span.logo-job
					font-weight: 400
					letter-spacing: rem(1.9px)
					color: transparentize($white, .4)
					margin-top: rem(2px)
		.navbar-item,
		.navbar-link
			padding: 0
			line-height: 1
			color: $white
		.navbar-link.is-active,
		.navbar-link:hover,
		a.navbar-item.is-active,
		a.navbar-item:hover
			background-color: transparent
			color: $red
			text-decoration: none
		.navbar-burger
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			height: auto
			color: $white
			&.is-active span
				&:nth-child(1)
					transform: translateY(6px) rotate(45deg)
				&:nth-child(3)
					transform: translateY(-6px) rotate(-45deg)
			span
				position: relative
				top: auto
				left: auto
				height: rem(2px)
				width: rem(28px)
				&:nth-child(2)
					margin: rem(4px) 0
			&:hover
				background-color: $transparent
		.navbar-menu
			font-weight: 400
			text-transform: uppercase
			ul
				display: flex
				flex-direction: row
				align-items: center
			li
				color: $white
				margin-right: rem(20px)
				float: left
				font-weight: 400
				&:hover
					color: transparentize($white, .5)
				&:active
					color: $white
				&:last-child
					margin-right: 0
			.current-page
				position: relative
				border-bottom: rem(1px) solid
