// COLORS
$black: #000
$grey: #333
$white: #FFF
$red: #FF5252
$homeBlue: #4497FB
$darkBlue: #6D7C90
$footerIcons: #5F85F7
$publishing: #4378FF
$video: #FF7A00
$web: #FD2BA3
$ux: #7E5DFF
$html: #DE4B26
$sass: #CF649A
$js: #F7DF1F

// SIZES
$baseSize: 16
